@model IEnumerable<StudentCourse>

<div>
        <a asp-controller="student" asp-action="Index" class="btn btn-outline-danger">Back to student</a>
 
</div>



<table class="table table-bordered table-striped">
   
    <thead>
        <tr>
            <th>Course </th>
            

        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td>@obj.CourseName</td>
               
                <td>
                    <a asp-controller="StudentCourse" asp-action="Delete" asp-route-data="@obj.Id" class="btn btn-danger mx-2"><i class="bi bi-trash"></i>Delete</a>
                </td>

            </tr>
        }
        


    </tbody>
</table>