@model ExamC2Web.Models.Student
<form method="post" asp-action="Edit">
    <input asp-for="StudentId" hidden />

    <div class="row">
        <div class="col-10">
            <div class="border p-3 mt-4 row">

                <div class="col-12 pb-2">
                    <h2 class="text-primary">Edit Student </h2>
                    <hr />
                </div>
                @*<div asp-validation-summary="All"></div>*@
                <div class=" mb-3">
                    <label asp-for="StudentName"></label>
                    <input asp-for="StudentName" class=" form-control" />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class=" mb-3">
                    <label asp-for="Address"></label>
                    <textarea asp-for="Address" rows="3" class=" form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="RollNo"></label>
                    <input asp-for="RollNo" class=" form-control" />
                    <span asp-validation-for="RollNo" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="City"></label>
                    <input asp-for="City" class=" form-control" />
                    <span asp-validation-for="City" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class=" form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="Phone"></label>
                    <input asp-for="Phone" class=" form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="PostalCode"></label>
                    <input asp-for="PostalCode" class=" form-control" />
                    <span asp-validation-for="PostalCode" class="text-danger"></span>
                </div>
                <div class=" mb-3 col-6">
                    <label asp-for="State"></label>
                    <input asp-for="State" class=" form-control" />
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>

                


                <div class="col-12">
                  
                        <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
                   
                   
                    <a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
                        Back to link
                    </a>
                </div>
            </div>

        </div>

    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
    <!-- JavaScript and jQuery code for handling multi-selection dropdown -->
}